#menutoggle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-bottom-width: 0px;
    top: 3px;
    right: 3px;
    z-index: 1;
}

#animatedmenu {
    transition: all 0.5s;
    width: 20px;
    position: absolute;
    max-height: 0px;
    top: 23px;
    right: 3px;
    bottom: 3px;
    text-align: center;
    overflow: hidden;
}

#menutoggle:hover + #animatedmenu, #animatedmenu:hover {
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    /* height is computed using js -_- */
}

#menu {
    width: 200px;
    overflow: auto;
}

#orbitmode, #freemode {
    width: 100px;
    height: 40px;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    float: left;
}

#freemode {
    border-left-width: 0px;
}

#cammode {
    margin-top: 3px;
}

button.selected {
    background-color: #700;
}
