#settings {
    width: 200px;
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    padding: 10px;
    text-align: center;
}

#orbitmode, #freemode {
    width: 100px;
    height: 40px;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    float: left;
}

#freemode {
    border-left-width: 0px;
}

#cammode {
    margin-top: 3px;
}

button.selected {
    background-color: #700;
}
